<%- include('includes/header'); %>
<div class="gradientBackground">
    <%- include('includes/navigation'); %>
        <section class="error">
            <div class="headerContent">
                <h1>404</h1>
                <h2>oops, Something went worng!</h2>
            </div>
        </section>
</div>
<%- include('includes/scripts'); %>
</body>
</html>