<%- include('includes/header'); %>
<%- include('includes/navigation') %>

    <section class="heading categoriesHeader">
        <div class="headerOverlay"></div>
    </section>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-11">
                <section class="main">
                    <h1 class="pageHeading">Popular Cuisines</h1>
                    <a href="/restaurant/categories/1">
                        <div class="cuisine pizza">
                            <div class="categoryOverlay"> 
                                <h3>Pizza</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/restaurant/categories/2">
                        <div class="cuisine indian">
                            <div class="categoryOverlay"> 
                                <h3>Indian</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/restaurant/categories/3">
                        <div class="cuisine italian">
                            <div class="categoryOverlay"> 
                                <h3>Italian</h3>
                            </div>
                        </div>
                    </a>
                    <a href="/restaurant/categories/4">
                        <div class="cuisine american">
                            <div class="categoryOverlay"> 
                                <h3>American</h3>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
        </div>
    </div>
    
    <footer class="footer"></footer>

<%- include('includes/scripts'); %>
</body>
</html>