<%- include('includes/header'); %>
<!-- main background -->
<div class="background">
    <div class="overlay">
        <div class="content">
            <h1 class="title">Comida</h1>
            <h2 class="subHeading">Never be late again!</h2>
            <div class="userLinks">
                <a href="/login" class="button">LOGIN</a>
                <span>OR</span>
                <a href="/register" class="button">REGISTER</a>
            </div>
        </div>
    </div>
</div> <!-- /background-->
<%- include('includes/scripts'); %>
</body>
</html>